<%@pageTitle = "PubMed data retrieval and visualization"%>  
<div class="grid_12 alpha omega">
	<h1><a href="/pubmed">Real Time Access to PubMed</a></h1> 
	<div class="alpha grid_4 suffix_7">
	<% form_tag(:pubmed, :method => "get") do %>
		<%= label_tag "term", "Please Enter your Search Term(s)" %><br/>
	 	<%= text_field_tag (:term, nil, "size" => 40) %><br />
	  	<%= submit_tag("Search &rarr;", :name => nil, :id => "startPubmedSearch") %> 
	   <a class="floatRight pushTop10" href="/pubmed">reset results</a>
	<% end -%>
	<br />
	<%= image_tag '/images/loading.gif', :id =>'spinner',:style => "display:none;"	%> 
	</div>
	<div id="searchResults2" class="grid_12 alpha omega">
		<% if @triggerAjax -%> <%# back at the form, we got the params in the url, now load the results via ajax %>
		<%#= render(:partial => "searchResults")%> 
		<script type="text/javascript" charset="utf-8">
		$('#searchResults2').hide();
		$('#spinner').show();; 
		jQuery.ajax({
			complete:function(request){
				$('#spinner').hide();
				$('#searchResults2').show()
				}, 
			data:jQuery.param(jQuery(this).serializeArray()) + 'authenticity_token=' + encodeURIComponent('<%=@authenticity_token %>'), 
			dataType:'script', type:'post', url:'/pubmed/searchPubmed?method=get&amp;term=<%=@theTerm%>&amp;page=<%=@currentPage%>&amp;resultsPerPage=<%=@resultsPerPage%>'
			}); 
		</script>
		<% end -%>
	</div>
</div>