<%@pageTitle = "PubMed data retrieval and visualization"%>  
<div class="grid_12 alpha omega">
	<h1>Real Time Access to PubMed</h1>
	<% form_tag(:pubmed, :method => "get", :params =>{"term" => :term}) do %>
		<%= label_tag "Please Enter your Search Term(s)" %><br/> 
	 	<%= text_field_tag(:term) %><br />
	  	<%= submit_tag("Search &rarr;", :name => nil) %>
	<% end -%>
	<br />
	<%= image_tag '/images/loading.gif', :id =>'spinner',:style => "display:none;"	%>
	<div id="searchResults2">
		<% if @needsPartial -%> <%# this is the case when the request comes via URL and not ajax %>
		<%= render(:partial => "searchResults")%> 
		<% end -%>
	</div>
</div>